// bower:scss
// endbower



body {
 background-color: navy;
}
    
.header{
    background-color: black;
    color: white;
    font-size: 30px;
    max-width: 100%;
    height: 100px;
    margin: 0;
    text-align: center;
    border: 2px solid navy;
}

.container {
    font-size: 20px;
    font-family: 'Shadows Into Light';
    line-height: 0.9em;
    background-image: url("http://media02.hongkiat.com/minimalist-wallpapers/Wooden_Noir_Wallpaper_Pack_by_Shod4n.jpg");
    color: white;
    max-width: 800px;
    max-height: 100%;
    padding-top:50px;
    margin:10px auto 10px auto;
    padding-left: 50px;
}
  
.enter {
    display: block;
    font-size: 10px;
    margin-top: 10px; 
    margin-left: 200px;
    background-color: black;
    color: white;
    width: 100px;

}


  input {
    padding: 2px;
    width:300px;
    font-size:20px;
    border: 2px solid red;
    background-color: grey;
    color: white;
}

  

.button{
    width: 50px;
    height:20px;
    font-size: 18px;
    font-family: inherit;
    line-height: 3em;
    padding: 20px;
    background-color: black;
    color: red;
}


 
 
.field {
    display: inline-block;
    font-size: 20px;
    width: 300px;
    background-color: grey;
 
    input {
        padding: 4px;
        width: 250px;
        font-size: 10px;
        background-color: navy;
        color: white;
 
        
    }
}
 

 
.edit-list {
    background-color: black;
    height: 40px;
    width: 100px;
    margin-left: 600px;
    color: white;
    font-size: 20px;
    text-align: center;


}
 
.remove-list {
    background-color: black;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: 600px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    text-align: center;

}
 
.submit-list {
    background-color: white;
    border: 2px solid black;
    height: 50px;
    width: 50px;
}

.store-list {
    background-color: white;
    border: 2px solid black;
    height: 50px;
    width: 100px;
}





























 
